.loginSection {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: oklch(0.98 0.0509 100.04 / 50.58%);
  /* background-image: url('/images/migla-logo-square.png'); */
  /* background-blend-mode: ; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  width: 400px;
  height: 400px;
  border-radius: 12px;
  background-color: var(--white);
  z-index: 1;
}