.loginSection {
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  container-type: inline-size;
  z-index: 1;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  padding: 2rem 6rem;
  border-radius: var(--radius-card, 0.75rem);
  gap: 2rem;
  background-color: hsl(var(--white));
  z-index: 1;

  @container (max-width: 800px) {
    width: 100%;
  }
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  & h2 {
    font-size: 24px;
    font-weight: 600;
  }
}

.inputSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;

  & div {
    width: 100%;
  }
}