// @layer base, component, utilities;

@import './tailwind_mock.css';
@import './modal.css';

.tailwind-scope {
  /* @import 'tailwindcss/base.css'; */
  /* @import 'tailwindcss/components.css'; */
  @import 'tailwindcss/utilities.css';
  @layer utilities {
  }
}

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;

  --card: 240 5% 96%;
  --card-foreground: 222.2 84% 4.9%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  /* #ffffff */
  --white: 0 0% 100%;
  /* --off-white: #FBFCFA; */
  --off-white: 90 25% 98%;
  /* #FFF9D2 */
  /* --bg-primary: 0.98 0.0509 100.04); */
  /* #dee5d4 */
  --bg-primary: 85 25% 86%;
  /* #8eaccd */
  --primary-50: 211 39% 98%;
  --primary-100: 211 39% 86%;
  --primary-200: 211 39% 82%;
  --primary-300: 211 39% 78%;
  --primary-400: 211 39% 74%;
  --primary: 211 39% 68%;
  --primary-500: var(--primary);
  --primary-600: 211 39% 62%;
  --primary-700: 211 39% 58%;
  --primary-800: 211 39% 54%;
  --primary-900: 211 39% 50%;

  // oklch
  // --primary-100: 0.99 0.0584 251.06;
  // --primary-200: 0.95 0.0584 251.06;
  // --primary-300: 0.89 0.0584 251.06;
  // --primary-400: 0.8 0.0584 251.06;
  // --primary: 211 39% 68%;
  // --primary-500: var(--primary);
  // --primary-600: 0.65 0.0584 251.06;
  // --primary-700: 0.6 0.0584 251.06;
  // --primary-800: 0.55 0.0584 251.06;
  // --primary-900: 0.45 0.0584 251.06;
  --bg-side-nav: 0.8 0.0584 251.06 / 60%;
  /* #364252 */
  --primary-foreground: 214 21% 27%;
  /* #ebba8d */
  --secondary: 29 70% 74%;
  /* #745c46 */
  --secondary-foreground: 29 25% 36%;
  /* #dee5d4 */
  --tertiary: 85 25% 86%;
  --tertiary-foreground: 29 25% 36%;

  --muted: 210 40% 96.1%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 240 6% 80%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --success: 196 52% 74%;
  --warning: 34 89% 85%;
  --error: 10 100% 86%;

  --radius: 0.2rem;

  --radius-card: 0.75rem;
  --header-height: 56px;
  --min-height: calc(100vh - var(--header-height));

  --color-text-primary: black;

  --c: hsl(var(--primary));
  /* semi-opaque circle color */
  --r: 300px;
  /* circle radius */

  --bg-pattern:
    url('/images/bg_pattern/shape_top.svg'), url('/images/bg_pattern/shape_bottom.svgja');

  --radius-card: 0.75rem;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.95rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.45rem;

  /* --card-color: 60 22% 96%; */
}

[data-theme='dark'] {
  --card: 0 0% 4%;
  --card-foreground: 210 40% 98%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;
  /* #213b59*/
  --primary-50: 211 39% 58%;
  --primary-100: 211 39% 52%;
  --primary-200: 211 39% 46%;
  --primary-300: 211 39% 40%;
  --primary-400: 211 39% 34%;
  --primary: 212 46% 24%;
  --primary-500: var(--primary);
  --primary-600: 211 39% 22%;
  --primary-700: 211 39% 18%;
  --primary-800: 211 39% 14%;
  --primary-900: 211 39% 10%;
  --primary-foreground: 0.93 0.0584 251.06;
  /* #8a4f01 */
  --secondary: 34 99% 27%;
  --secondary-foreground: 210 40% 98%;
  /* #3C3F39 */
  --tertiary: 90 5% 24%;

  --muted: 217.2 32.6% 17.5%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 0 0% 15% 0.8;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;

  --success: 196 100% 14%;
  --warning: 34 51% 25%;
  --error: 10 39% 43%;

  --bg-primary: var(--tertiary);
  --background: var(--tertiary);
  --foreground: 210 40% 98%;
  --bg-pattern:
    url('/images/bg_pattern/shape_top_dark.svg'), url('/images/bg_pattern/shape_bottom_dark.svg');
  // must be global white color
  --color-text-primary: var(--color-text-primary);
  /* // --card-color: var(--foreground); */
}

@layer base {
  body {
    color: hsl(var(--color-text-primary));
  }

  .color-primary {
    color: hsl(var(--color-text-primary));
  }

  .btn {
    font-weight: 800;
  }
}

@layer payload-default {
  body,
  .template-default__wrap {
    background-color: hsl(var(--bg-primary));
    min-height: var(--min-height);
    background-repeat: no-repeat;
    background-image: var(--bg-pattern);
    background-position:
      top left,
      bottom right;
    z-index: 0;

    & .table {
      background: var(--theme-bg);
    }

    & .app-header {
      background-color: hsl(var(--primary));
      margin-bottom: 1rem;
    }

    & [data-theme='dark'] {
      background-image: none;
    }
  }

  aside.nav {
    background-color: hsl(var(--bg-primary) / 0.7);
    border-right: 1px solid hsl(var(--tertiary));
  }

  body:has(div[data-login-role-present='false']) {
    .login__form {
      display: none;
    }
  }

  img.logo-rectangle {
    background-color: white;
    /* // background-color: hsl(var(--card-color)); */
    border-radius: 8px;
    padding: 8px;
    /* // height: 100px; */
    object-fit: contain;
  }

  .card {
    border-radius: var(--radius-card);
    /* // background-color: hsl(var(--card-color)); */
  }
}

@layer utilities {
  @keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  .display-none {
    display: none;
  }

  .bg-primary {
    background-color: hsl(var(--primary));
    // &:hover {
    //   background-color: hsl(var(--primary-50));
    // }
    // &:active {
    //   background-color: hsl(var(--primary-800));
    // }
  }
  .color-white {
    color: hsl(var(--white));
  }
  button.bg-primary {
    background-color: hsl(var(--primary));
    &:hover {
      background-color: hsl(var(--primary-400));
    }
    &:active {
      background-color: hsl(var(--primary-300));
    }
  }
  @for $i from 1 through 50 {
    .gap-#{$i} {
      gap: $i * 1px;
    }
  }
  .btn-loading {
    pointer-events: none;
    color: transparent;
    position: relative;
    // padding-block: 0.5rem;
    & .spinner {
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(0deg);
      animation: spin 1s linear infinite;
    }
  }
  .ml-auto {
    margin-left: auto;
  }
  .mr-auto {
    margin-right: auto;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  .flex-col {
    display: flex;
    flex-direction: column;
  }
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.divider {
  border-top: 1px solid hsl(var(--card-foreground) / 0.2);
  width: 100%;
}
